@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 223 47% 14%;
    --card-foreground: 210 40% 98%;
    --muted: 223 47% 20%;
    --muted-foreground: 215 20.2% 65.1%;
    --radius: 0.75rem;
  }

  body {
    @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))] min-h-screen antialiased;
  }
}
